<div class="container">
  <h5 class="display-1 text-center font-italic" style="color : #ffc107"> #NEVER STOP LEARNING</h5>
  <p class="my-5 text-light h2 text-center">
    We don't want to teach you stuff. We help you increase your value. We just want
    to create a fission reaction in this society which can brighten all minds
  </p>
  <div class="row justify-content-center">
    <img src="https://thumbs.gfycat.com/FlickeringCostlyApisdorsatalaboriosa-size_restricted.gif" class="img-fluid "
      alt="">
  </div>
</div>