<!DOCTYPE html>
<html>

<head>
  <title>{{title}} | Institution</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <style>
    body {
      color: white;
      background-color: black;
    }

    .carousel-caption {
      top: 50%;
      transform: translateY(-50%)
    }

    .carousel-item {
      height: 100vh;
      background-size: cover;
    }
  </style>

</head>